body{
    margin: 0;
    padding: 0;
    background: #0B0E14;
    overflow: hidden;
    height: 100vh;
    font-family: "Kanit";
}
iframe{
    border: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
