*{
  --text: #ebecef;
  --background: #0f1015;
  --primary: #abafce;
  --secondary: #373d72;
  --accent: #666fc2;
}

.Developer-Text{
  display: flex;
  font-size: 5vw;
}


.Left{
  flex: 0.6; /* Make each box take up an equal amount of space */
  border: 0px solid white;
  box-sizing: border-box;
  text-align: right;
  padding-right: 30px;
  opacity: 1;
  animation: Developer-Text 5s 1s cubic-bezier(.38,.14,.35,.98) forwards;
}

.Right{
  box-sizing: border-box;
  border: 0px solid white;
  height: 500px;
}

.TextGame {
  animation: TextGame 5s 1s cubic-bezier(.38,.14,.35,.98) forwards;
}

.TextWebsite{
  animation: TextWebsite 5s 1s cubic-bezier(.38,.14,.35,.98) forwards;
}

.TextSoftware{
  animation: TextSoftware 5s 1s cubic-bezier(.38,.14,.35,.98) forwards;
}

@keyframes TextGame{
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  30% {opacity: 1;}
  32% {opacity: 0;}
  60% {opacity: 0;}
  65% {opacity: 0;}
  80% {opacity: 0;}
  85% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes TextWebsite{
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 1;}
  60% {opacity: 1;}
  62% {opacity: 0;}
  80% {opacity: 0;}
  85% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes TextSoftware{
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 0;}
  60% {opacity: 0;}
  65% {opacity: 1;}
  80% {opacity: 1;}
  82% {opacity: 0;}
  100% {opacity: 0;}
}


@keyframes Developer-Text{
  0% {margin-top: 5vw;}
  5% {margin-top: 5vw;}
  10% {margin-top: 0vw;}
  30% {margin-top: 0vw;}
  35% {margin-top: -7.5vw;}
  60% {margin-top: -7.5vw;}
  65% {margin-top: -15vw;}
  80% {margin-top: -15vw;}
  85% {
    margin-top: -25vw;
    flex: 0.6
  }
  100% {
    margin-top: -25vw;
    flex: 0.48
  }
}